---
import SiteLayout from '@/layouts/SiteLayout.astro';
import Layout from '../layouts/BlogPost.astro';
import PostsPerMonth from '@/components/Charts/PostsPerMonth';
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<SiteLayout title="About" description="About this Blog">
	<h3>About this Website</h3>
	<PostsPerMonth posts={posts} />
</SiteLayout>