---
import { SITE_DESCRIPTION, SITE_TITLE, SITE_BASED_IN, SITE_SOCIALS } from "../consts";
---

<footer class="text-white py-6 font-mono">
  <div class="container mx-auto text-center">
    <p class="text-lg">© 2024 - {new Date().getFullYear()} {SITE_TITLE}</p>
    <p class="text-sm mt-2">{SITE_DESCRIPTION}</p>
    <div class="flex justify-center mt-4 space-x-4">
      <a
        href={SITE_SOCIALS.GitHub}
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-400 hover:text-white"
      >
        <svg
          class="w-6 h-6 inline-block"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          ><path
            d="M12 .5C5.738.5.5 5.738.5 12c0 5.07 3.293 9.361 7.87 10.867.575.108.785-.253.785-.56 0-.275-.01-1.004-.015-1.972-3.2.696-3.875-1.382-3.875-1.382-.524-1.331-1.28-1.686-1.28-1.686-1.046-.715.08-.7.08-.7 1.156.081 1.764 1.187 1.764 1.187 1.028 1.761 2.695 1.252 3.35.958.105-.744.403-1.252.733-1.54-2.555-.29-5.237-1.278-5.237-5.69 0-1.256.448-2.282 1.184-3.086-.12-.289-.514-1.45.113-3.021 0 0 .967-.31 3.171 1.176.92-.256 1.908-.384 2.89-.388.982.004 1.97.132 2.891.388 2.204-1.487 3.169-1.176 3.169-1.176.63 1.571.236 2.732.117 3.021.739.804 1.182 1.83 1.182 3.086 0 4.423-2.686 5.397-5.247 5.678.41.351.777 1.04.777 2.095 0 1.513-.013 2.736-.013 3.112 0 .309.206.672.79.556C20.708 21.36 24 17.07 24 12 24 5.738 18.762.5 12 .5z"
          ></path></svg
        >
      </a>
    </div>
    <p class="text-xs text-gray-500 mt-4">
      Made with 💻 in {SITE_BASED_IN}.
    </p>
  </div>
</footer>

