---
import { SITE_TITLE, HEADER, THEME } from "../consts";
---

<header
  style={{ backgroundColor: THEME.colors.contentBackground, top: 0, zIndex: 1000, color: THEME.colors.text }}
  class="flex flex-col items-center justify-between shadow-lg w-full fixed"
>
  <section class="mx-auto w-11/12 md:w-1/2 flex flex-col">
    <div class="flex items-center space-x-4 pb-2 justify-between">
      <div
        style={{
          display: "flex",
          flexDirection: "row",
          alignItems: "center",
          justifyContent: "space-between",
          width: "100%",
        }}
      >
        <div
          style={{
            display: "flex",
            flexDirection: "row",
            alignItems: "center",
            justifyContent: "space-between",
            gap: "10px",
          }}
        >
          <div class="w-8 h-8 bg-white rounded-full"></div>
          <div class="text-xl font-semibold">{SITE_TITLE}</div>
          <div class="text-sm">
            Last Checkpoint: {new Date().toDateString()}
          </div>
        </div>
        <img
          src="/assets/images/python-logo.png"
          alt="Python Logo"
          class="w-6 h-6"
        />
      </div>
    </div>
  </section>
  <hr class="border-gray-600 w-full" />
  <section class="mx-auto w-11/12 md:w-1/2 flex flex-col">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        {
          HEADER.LINKS.map((link) => (
            <a
              href={link.href}
              class="p-2 text-xs hover:bg-gray-200 hover:text-gray-400"
            >
              {link.name}
            </a>
          ))
        }
      </div>
    </div>
  </section>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
